
@using WorkFlowManager.Common.Extensions
@using WorkFlowManager.Common.Enums

@model WorkFlowManager.Common.Enums.FormComplexity

<p style="background-color:red">kendo dropdown silinecek</p>
@*@(Html.Kendo().DropDownListFor(m => m)
                    .OptionLabel("Select...")
                    .BindTo(EnumHelper.GetSelectList(typeof(FormComplexity)))
)*@